# Ignore node_modules directory
node_modules/

# Ignore build
dist/

# Ignore environment variables file
.env

# Temp files
temp/*

# Public dir
public/images/*
!public/images/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Ignore macOS system files
.DS_Store

# logs dir
.logs/*
!.logs/.gitkeep